@media screen and (max-width:375px)

{
    html
    {
        max-width: 100%;
        margin: auto;
    }

    #bloc_page
    {
        max-width: 100%;
        margin: auto;
    }

    body
    {
        max-width: 100%;
        margin: auto;
    }
    
/*      HEADER      */
    
    header
    {
        width: 100%;
        height: auto;
        margin: 0%;
        padding: 0%;
    }

/*       LOGO ET NAV      */

    .nav
    {
        display: flex;
        flex-wrap: wrap;
    }

    .menu
    {
        margin-left: 0%;
    }

    .menu:nth-child(2)
    {
       order: 3;
       width: 100%;  
    }

    .signin
    {
       margin-left: 50%;
    }

    .logo
    {
        margin-left: 3%;
    }

    .logo img
    {
        padding-top: 20px;
        margin-left: 10%;
    }
    

    .menu ul 
    {
        width: 100%;
        display: flex;
        padding:  0%;
    }
    
   
    .menu li 
    {
        list-style-type: none;
        padding-bottom: 10px;
        padding-left: 0%;
        padding-top: 35px;
        width: 100%;
        text-align: center;
        border-bottom: #f2f2f2 3px solid;
    }

    .menu a
    {
        text-decoration: none;
        color: black;
    }
    
    .menu li:hover
    {
        border-bottom: solid 3px #0065FC;
        text-decoration: none;
        border-top: none;
    }

    .menu a:hover
    {
    color: #0065FC;  
    }



   /*       MOTEUR RECHERCHE        */

    .main_search
   {
       width: 100%;
   }

   .main_search h1
   {
       width: 80%;
       padding-bottom: 8px;
       margin-left: 5%;
   }

   .main_search span
   {
       margin-left: 5%;
   }

    .max_search_container
   {
       display: none;
   }

    .min_search_container
   {
    display: flex;
    width: 89%;
    height: 50px;
    border: solid 1px #f2f2f2;
    border-radius:20px;
    margin-top:35px ;
    margin-left: 5%;

   }
   
    .min_map_marker 
   {
    width: 15%;
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
    }

    .min_map_marker i
    {
    padding:18px;
    }

    form 
    {
        display: flex;
        justify-content: space-between;
        width: 85%;
    }

   .min_destination
   {
    width: 70%;
    }

    .min_destination input
    {  
    border: none;
    width: 100%;
    padding: 17px;
    }

    .min_destination ::placeholder
    {
    font-weight: bold;
    font-size: 1.3em;
    color: black;
    }

    .icon_search 
    {
    width:18%;    
    height: 50px;
    background-color: #0065FC;
    display: flex;
    justify-content:center;
    border-radius: 15px;
    padding: 0%
    }

    .button_icon_search
    {
        background-color: #0065FC;
        padding: 0px;
        margin: 0px;
        border: 0px;
        color: white;
        font-size: 1em;
    }

   
    /*      FILTRES     */


    #filters_container
    {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 250px;
    margin-top: 20px;
    }

    #filters_container h3
    {
    padding-left: 5%;
    }

    #filters_container ul
    {

       flex-wrap: wrap;
        margin-left: 5%;
        margin-top: 0%;
    }

    #filters_container li
    {
        margin-bottom: 15px;
    }


/*     BARRE INFOS      */

   .bar_infos
   {
        width: 91%;
        height: auto;
        margin: auto;
       margin-bottom: 20px;
   }

   /*       MAIN        */

   main 
   {
    width: auto;
    height: auto;
    margin: 0%;
    padding: 0%;
   }
   
   
   /*       HEBERGEMENT     */

   .section_hebergement_populaire
   {
       display: flex;
       flex-direction: column-reverse;
       height: auto;
       width: auto;
   }
   

    #hebergement_marseille
    {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        background-color: white;
    }

    
    .hebergement
    {
        width: 89%;
        height: auto;
    }

    .hebergement a
    {
        display: block;
        width: 100%;
        height: auto;
        margin-bottom: 15px;
    }
    #cannebiere , #port, #mouettes, #mer, #panier, #amina
    {
        width: 100%;
        height:auto ; 
        padding-bottom: 1%;
    }

    .photo_heb
    {
    display: none;
    }

    .photosmall_heb             /*      PHOTOS VERSION MOBILE   */
    {
    display: flex;
    width: 95%;
    height: 115px;
    object-fit: cover;
    padding: 2%;
    border-radius: 20px 20px 0px 0px;
    }

    /*      LES PLUS POPULAIRES     */

    .title_populaire
    {
        width: 90%;
    }

    aside
    {
        width: auto;
        height: auto;
        border-radius: 0%;
    }

    .plus_populaires
    {
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: center;
    }

    .infos
    {
        height: auto;
    }
    
    .plus_populaires a
    {
        width: 89%;
        height: 145px;
    }

    .photo_pop
    {
        display: none;
    }

    .photosmall_pop         /*  PHOTOS VERSION MOBILE       */
    {        
        display: flex;
        width:38%;
        margin: 1.5%;
        object-fit: cover ;
        border-radius: 20px 0 0 20px ;
    }

    /*      ACTIVITES MARSEILLE     */

    
    #activites_marseille
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        margin-top: 0%;
    }

    #activites_marseille h2
    {
        padding-left: 5%;
    }

    .activites
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .activites a
    {
        display: block;
        align-items: center;
        width: 89%;
        border-radius: 20px;
        text-decoration: none;
    }

    .pomegues_frioul , .dame_longchamp
    {    
        width: 89%;
        height: 400px;
        justify-content: flex-start;
        padding-bottom: 20px;
    }

    .pomegues_frioul a, .dame_longchamp a{
        width: 100%;
    }

    .vieux_port, .pomegues , .frioul , .calanques , .notre_dame , .longchamp 
    {
        width: auto;
        height: 190px;
        margin-bottom: 20px;
    }

    .photo_act
    {
        display: none;
    }

    .photosmall_act         /*    PHOTOS  VERSION MOBILE      */
    {
        display: flex;
        width: 100% ;
        height: 135px;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
        
        
    }
    .vieux_port img, .calanques img{
        height: 135px;
    }
    
    .pomegues img{
        height: 135px;
    }
    
    .frioul img{
        height: 135px;
    }
    
    .notre_dame img{
        height:135px;
    }
    
    .longchamp img{
        height: 135px;
    }

    /*      FOOTER      */

    .footer
    {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        background-color: #f2f2f2;
        padding-top: 20px;
        margin-top:0%;
    }

    .a_propos , .nos_hebergements , .assistance
    {
        width: auto;
        height: auto;
        padding-left: 7%;
    }

   
}


@media screen and (min-width:376px) and (max-width:991px)

    {
        html
        {
            min-width: 769px;
            max-width: 991px;
            margin: auto;
        }
    
        #bloc_page
        {
            min-width: 769px;
            max-width: 991px;
            margin: auto;
        }

        body
        {
            min-width: 769px;
            max-width: 991px;
            margin: auto;
        }
        
    /*      HEADER      */
        
        header
        {
            width: 93%;
            height: auto;
            margin: auto;
        }
    
       
        .max_search_container
        {
            width: 50%;
        }
        
        .map_marker 
        {
            width: 12%;
            background-color: #f2f2f2;
            border-radius: 15px 0 0 15px;
        }
        
        .map_marker i
        {
            padding:16px;
        }
        
        .bar_infos
        {
            white-space: nowrap;
        }
 
       /*       MAIN        */
    
       main 
       {
        width: auto;
        height: auto;
        margin: auto;
       }
       
       
       /*       HEBERGEMENT     */
    
       .section_hebergement_populaire
       {
           display: flex;
           flex-direction: column-reverse;
           height: auto;
           width: auto;
       }
       
    
        #hebergement_marseille
        {
            width: 92%;
            height: auto;
            display: flex;
            flex-direction: column;
            margin: auto;
            margin-top: 30px;
        }
    
        
        .hebergement
        {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            height: auto;
            margin: auto;
        }
        
        #hebergement_marseille h2
        {
            margin-left:5%;
        }
        .hebergement a
        {
            display: block;
            width: 40%;
            height: auto;
        }

        #cannebiere , #port, #mouettes, #mer, #panier, #amina
        { 
        width: 100%;
        height: auto;
        margin: 0%;
        }

        .photo_heb
        {
            width: 97%;
            height: 200px;
            margin: auto;
            object-fit: cover;
            padding: 1%;
            border-radius: 20px 20px 0px 0px;
        }

        .hebergement h3
        {
            font-size: 1.4em;
        }

        .info_hotel
        {
            font-size: 0.9em;
        }

        .stars
        {
          font-size: 1em;
          padding-bottom:10px ;
        }



        /*      LES PLUS POPULAIRES     */
        
        aside
        {
            display: flex;
            margin: auto;
            width: 92%;
            height: auto;
        }

        .title_populaire
        {
            display: flex;
            width: 90%;
            height: 100px;
            align-items: center;           
        }

        .title_populaire i
        {
            margin-top: 0px;
            padding-top: 0%;
        }

        .plus_populaires
        {
            width: 80%;
            align-items: center;
            justify-content: center;
            height: auto;
        }
        
        .infos h3
        {
            width: 100%;
            font-size: 1.3em;
        }

        .infos .stars
        {
            margin-top: 20%;
            font-size: 1em;
        }

        .coeur_de_leau .stars 
        {
            margin-top: 13%;
        }

        /*      ACTIVITES MARSEILLE     */
    
        #activites_marseille
        {
            width: 92%; 
           margin: auto;
           margin-top:50px ;
        }

        #activites_marseille h2
        {
            margin-left: 5%;
        }

        .activites
        {
            display: flex;
            justify-content: space-between;
            align-items:flex-end;
            width:100%;
            margin: auto;
            height: auto;
            display: flex;
            flex-wrap: wrap;
        }
        
        .activites h3
        {
            font-size: 1.2em;
        }

        .activites a
        {
            width: 45%;
            height: auto;
            margin-bottom: 20px;
        }
        
        .pomegues_frioul , .dame_longchamp
        {
            width: 45%;
        }
        .pomegues_frioul a, .dame_longchamp a
        {
            width: 100%;
        }

        
    /*      FOOTER      */

        .footer
        {
            margin-top: 50px;
        }
    }